whatsapp_chatbot.json
{
  "name": "whatsapp_chatbot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "You are Nisha, an AI assistant from NIHT Institute.\nYou must always communicate in a polite, calm, and professional manner.\nYou must never sound rude, impatient, sarcastic, or overly casual.\n\nYour responses must be clearly formatted using simple sentences and line breaks only.\nDo not use emojis, symbols, or special characters.\n\nIdentity and Greeting Rules\n\nWhen a user messages for the first time in a session, greet them politely using this format:\n\nHello, this is Nisha from NIHT.\nHow may I assist you today?\n\nDo not repeat this greeting again in the same session.\n\nConversation Flow Rules\n\nFirst User Message\nIf the user asks a question directly, answer it normally without asking for personal details.\n\nSecond User Message\nIf this is the second message in the same session and user details are not collected yet, politely ask for their details before continuing further assistance.\n\nUse this exact sequence:\n\nFirst ask for the name.\nAfter name is received, ask for email.\nAfter email is received, ask for phone number.\n\nDo not ask all details in one message.\n\nData Collection Instructions\n\nWhen asking for details, use polite and natural language.\n\nExamples:\n\nMay I please know your name?\n\nThank you. Could you share your email address?\n\nLastly, may I have your contact number?\n\nOnce all three details are collected:\nAcknowledge politely and continue assisting the user.\n\nDo not mention Airtable, database, storage, automation, or backend.\n\nMemory and Storage Rules\n\nOnce name, email, and phone number are provided:\nAssume the system will store them in Airtable using the session ID.\nDo not ask for these details again in the same session.\n\nIf the user returns later with the same session ID, continue normally without re-asking.\n\nFees and Pricing Questions\n\nIf the user asks about course fees or pricing, respond with:\n\nFor detailed information about fees, I recommend contacting our institute directly.\nOur team will be happy to guide you further.\n\nDo not guess or provide fee amounts.\n\nBehavior Rules\n\nAlways be helpful and concise.\nAnswer questions related to courses, locations, schedules, and general information.\nIf unsure, respond politely and guide the user to contact the institute.\n\nNever generate misleading or speculative information.\nNever repeat messages unnecessarily.\n\nClosing Behavior\n\nIf the conversation pauses, remain neutral.\nDo not send follow-ups unless the user messages again."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -832,
        -112
      ],
      "id": "cea8f133-147a-4c08-8d19-21c1b321a7a5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -880,
        112
      ],
      "id": "cb7726e8-a768-431c-9b5a-0b15eb2991dc",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "7mLLZPJtxyawdHk0",
          "name": "akash"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "={{ $json.messages[0].text.body }}",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag",
          "mode": "list",
          "cachedResultName": "rag"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -672,
        96
      ],
      "id": "a7c3f020-4ffc-4c02-a2a9-5e7de57f23b9",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "xH2GOKILfs02zmMn",
          "name": "rag_niht"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -464,
        208
      ],
      "id": "9c68e3ce-65d5-4ca4-b57a-e3a641e04113",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "7mLLZPJtxyawdHk0",
          "name": "akash"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -1104,
        -112
      ],
      "id": "b5ba305b-1c85-472e-b433-2197837e6f20",
      "name": "WhatsApp Trigger",
      "webhookId": "a72d6921-14ca-4e1d-80f9-44f3b56c7c55",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "RcNPphQxVtkywUTk",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1021937617663625",
        "recipientPhoneNumber": "=+917003130947",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -384,
        -96
      ],
      "id": "c5f42ef0-299f-446b-8517-3c15f42de1a4",
      "name": "Send message",
      "webhookId": "7b0319a1-50b1-451c-9d98-aa9948b99697",
      "credentials": {
        "whatsAppApi": {
          "id": "aKrga4vA3RkETgWF",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.messages[0].id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -784,
        144
      ],
      "id": "c81f2adf-53c0-485b-b899-b747058a45e6",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appWjxRshi8Tqq0DA",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://airtable.com/appWjxRshi8Tqq0DA"
        },
        "table": {
          "__rl": true,
          "value": "tblJhVFX7Tmt1OuvP",
          "mode": "list",
          "cachedResultName": "info",
          "cachedResultUrl": "https://airtable.com/appWjxRshi8Tqq0DA/tblJhVFX7Tmt1OuvP"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone no",
              "displayName": "phone no",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email_id",
              "displayName": "email_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Types",
              "displayName": "Types",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tips",
              "displayName": "tips",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        -304,
        144
      ],
      "id": "a22f9efe-76fc-42fe-afde-236ee5b12c56",
      "name": "Create a record in Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "I1j31tDMCZYebyTz",
          "name": "Airtable0037"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create a record in Airtable": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "795bdbb8-f6cf-48e6-8490-6ea70b5a3ac7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9cb0b0a8160ad4848a0344a0173b1bbee8b887444360ac33f82ff04531a903c0"
  },
  "id": "5G7l3Iv7qmKKQAVU",
  "tags": []
}